.photo{
    transition: all 0.3s;
}
.photo:hover{
    transform: scale(1.10);
}
h2{
    color:  #f4511e;
    padding: 4%;
}
.img{
    transition: all 0.3s;
}
.img:hover{
    transform: scale(1.15);
}
.about{
    border-radius: 30px;
}
.carousel-control.right, .carousel-control.left {
    background-image: none;
    color:  #f4511e;
}
.carousel-indicators li {
    border-color:  #f4511e;
}
.carousel-indicators li.active {
    background-color:  #f4511e;
}
.item {
    padding-left: 20%;
}
.logo-small{
    color:  #f4511e;
    font-size: 50px;
}
.logo {
    color:  #f4511e;
    font-size: 100px;
}
.navbar {
    margin-bottom: 0;
    background-color: #f4511e;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
  }

  .navbar li a, .navbar .navbar-brand {
    color: #fff !important;
  }

  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
  }

  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
  }
  footer .glyphicon{
      color: #f4511e;
  }